body {
/* background-color:#00788e ; */
background-color: white;
color: #1C6EA4 ;
}

    /* nav css */
nav{
color: black;
}

   /* header CSS */

header.masthead {
    /* display: grid;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 15px; */
    text-align: center;
    color: white;
    background-image: url("photos/DSC_0058.JPG");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;   
    max-width: 100%;
    height: 700px;
    padding-top: 150px;
    padding-bottom: 350px;
}

/* header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 500px; 
     background-color: black;
  } */

header.masthead .intro-text .intro-lead-in{
    font-size: 22px;
    font-style: normal ;
    line-height: 22px;
    margin-bottom: 25px;
    text-shadow: 1px 2px 2px #1C6EA4; 
}

    /* section1 CSS */

h2{
    margin: 15px;
    padding: 15px;
    text-shadow:1px 2px 2px black;
}

.section1 div .paragraphe{
    display: grid;
    justify-content: start; 
    height: 800px;
}
.section1 .img-fluid{
    max-width: 70%;
    height: auto;    
}
        /* Section2 CSS */
section div.paragraphe2 {
height: 700px;
}
section.section2 div > p{
    display: grid;
    justify-content: flex-end;
    /* height: 700px;  */
} 
section.section2 div + p.img-fluid{
height: 200px;
}

p{
    display:grid;
    justify-content: center;
    color: #1C6EA4;
    flex: 1 1 auto;
    font-family:'Gayathri', sans-serif;
    font-size: 20px;
    margin-right: 5px;
}


footer .footer{
    display: grid;
    -ms-grid-row-align: center;
}